In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("language detection.csv")
dataset.head(20)

                                                 Text    language
0   klement gottwaldi surnukeha palsameeriti ning ...    Estonian
1   sebes joseph pereira thomas  på eng the jesuit...     Swedish
2   ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...        Thai
3   விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...       Tamil
4   de spons behoort tot het geslacht haliclona en...       Dutch
5   エノが行きがかりでバスに乗ってしまい、気分が悪くなった際に助けるが、今すぐバスを降りたいと運...    Japanese
6   tsutinalar i̇ngilizce tsuutina kanadada albert...     Turkish
7   müller mox figura centralis circulorum doctoru...       Latin
8   برقی بار electric charge تمام زیرجوہری ذرات کی...        Urdu
9   シャーリー・フィールドは、サン・ベルナルド・アベニュー沿い市民センターとrtマーティン高校に...    Japanese
10  kemunculan pertamanya adalah ketika mencium ka...  Indonesian
11  barocco pt escândalo de ª página é um filme fr...   Portugese
12  association de recherche et de sauvegarde de l...      French
13  胡赛尼本人和小说的主人公阿米尔一样，都是出生在阿富汗首都喀布尔，少年时代便离开了这个国家。胡...     Chinese
14  한국에서 성씨가 사용되기 시작한 정확한 시기는 알 수 없으나 한자漢字 등 중국 문물...      Korean
15  การฟาดฟันของบรรดาสาวงามในกองประกวด miss beauty...        Thai
16  dorota rabczewska artistinimega doda sündinud ...    Estonian
17  diante destes gerenciamentos podendo ser feito...   Portugese
18  besemer s van der geest v murray j bijleveld c...   Portugese
19  महाराष्ट्र  मई  को भारत का राज्य बनाया गया था।...       Hindi

In [3]:
dataset.isnull().sum()

Text        0
language    0
dtype: int64

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.naive_bayes import MultinomialNB

In [7]:
dataset

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [8]:
dataset['language'].value_counts()

language
Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: count, dtype: int64

In [9]:
dataset.dtypes

Text        object
language    object
dtype: object

In [10]:
import numpy as np

In [11]:
x = np.array(dataset['Text'])
y = np.array(dataset['language'])
print(x)

['klement gottwaldi surnukeha palsameeriti ning paigutati mausoleumi surnukeha oli aga liiga hilja ja oskamatult palsameeritud ning hakkas ilmutama lagunemise tundemärke  aastal viidi ta surnukeha mausoleumist ära ja kremeeriti zlíni linn kandis aastatel – nime gottwaldov ukrainas harkivi oblastis kandis zmiivi linn aastatel – nime gotvald'
 'sebes joseph pereira thomas  på eng the jesuits and the sino-russian treaty of nerchinsk  the diary of thomas pereira bibliotheca instituti historici s i --   rome libris '
 'ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เริ่มตั้งแต่ถนนสนามไชยถึงแม่น้ำเจ้าพระยาที่ถนนตก กรุงเทพมหานคร เป็นถนนรุ่นแรกที่ใช้เทคนิคการสร้างแบบตะวันตก ปัจจุบันผ่านพื้นที่เขตพระนคร เขตป้อมปราบศัตรูพ่าย เขตสัมพันธวงศ์ เขตบางรัก เขตสาทร และเขตบางคอแหลม'
 ...
 'con motivo de la celebración del septuagésimoquinto ° aniversario de la fundación del departamento en  guillermo ceballos espinosa presentó a la gobernación de caldas por encargo de su titular dilia estrada de gómez el himno que fue adoptado para solemnizar dicha efemérides y que siguieron interpretando las bandas de música y los planteles de educación de esta sección del país en retretas y actos oficiales con gran aceptación[]\u200b'
 '年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由美國的獨立廠牌bip·record發行，以外國輸入盤的形式在日本發售，旋即被抢购一空。其後於月日發行以倉木麻衣名義發行的首張日文單曲《love day after tomorrow》，正式於日本出道。這張單曲初動銷量只得約萬張，可是其後每週銷量一直上升，並於年月正式突破百萬銷量，合计万张。成為年最耀眼的新人歌手。'
 ' aprilie sonda spațială messenger a nasa și-a încheiat misiunea de studiu de  ani prăbușindu-se pe suprafața planetei mercur sonda a rămas fără combustibil fiind împinsă de gravitația solară din ce în ce mai aproape de mercur']

In [12]:
print(y)

['Estonian' 'Swedish' 'Thai' ... 'Spanish' 'Chinese' 'Romanian']

In [13]:
cv = CountVectorizer()
x = cv.fit_transform(x)

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.33,random_state=42)

In [24]:
x_train

<14740x277720 sparse matrix of type '<class 'numpy.int64'>'
	with 613529 stored elements in Compressed Sparse Row format>

In [25]:
print(x_train)

  (0, 197295)	2
  (0, 197708)	1
  (0, 197801)	1
  (0, 198388)	1
  (0, 197467)	1
  (0, 197865)	2
  (0, 197604)	1
  (0, 198428)	1
  (0, 198501)	1
  (0, 198556)	1
  (0, 197332)	1
  (0, 197485)	2
  (0, 198123)	1
  (0, 197892)	1
  (0, 197990)	1
  (0, 198053)	1
  (0, 198417)	1
  (0, 197623)	1
  (1, 197641)	2
  (1, 197314)	1
  (1, 197931)	1
  (1, 197804)	3
  (1, 198397)	1
  (1, 197149)	1
  (1, 197781)	1
  :	:
  (14738, 188817)	1
  (14738, 192004)	1
  (14738, 157171)	1
  (14738, 190346)	1
  (14738, 190725)	1
  (14738, 189685)	1
  (14738, 159269)	2
  (14738, 145431)	1
  (14738, 173292)	1
  (14738, 176062)	1
  (14738, 159959)	1
  (14738, 190198)	1
  (14738, 167124)	1
  (14738, 168158)	1
  (14738, 180260)	2
  (14738, 153262)	1
  (14738, 162150)	1
  (14738, 153355)	1
  (14738, 178104)	1
  (14738, 163770)	1
  (14739, 223002)	1
  (14739, 235170)	1
  (14739, 222446)	1
  (14739, 221922)	1
  (14739, 242446)	1

In [26]:
y_test

array(['Japanese', 'Russian', 'Latin', ..., 'Turkish', 'Arabic',
       'English'], dtype=object)

In [27]:
model = MultinomialNB()

In [28]:
model.fit(x_test,y_test)

MultinomialNB()

In [29]:
# check it accuracy 
model.score(x_test,y_test)*100

98.4573002754821

In [31]:
user = input("Enter a Text: ")
dataset = cv.transform([user]).toarray()
output = model.predict(dataset)
print(output)

Enter a Text: hors du terrain les années et sont des année.
['French']

In [32]:
user = input("Enter a Text: ")
dataset = cv.transform([user]).toarray()
output = model.predict(dataset)
print(output)

Enter a Text: ใน พศ หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ
['Thai']

In [23]:
user = input("Enter a Text: ")
dataset = cv.transform([user]).toarray()
output = model.predict(dataset)
print(output)

Enter a Text: आज मेरी छुट्टी है
['Hindi']

In [24]:
user = input("Enter a Text: ")
dataset = cv.transform([user]).toarray()
output = model.predict(dataset)
print(output)

Enter a Text: annemin adı kusum lata kashyap
['Turkish']

In [33]:
user = input("Enter a Text: ")
dataset = cv.transform([user]).toarray()
output = model.predict(dataset)
print(output)

Enter a Text: 한국에서 성씨가 사용되기 시작한 정확한 시기는 알 수 없으나 한자漢字 등 중국 문물
['Korean']

In [34]:
user = input("Enter a Text: ")
dataset = cv.transform([user]).toarray()
output = model.predict(dataset)
print(output)

Enter a Text: シャーリー・フィールドは、サン・ベルナルド・アベニュー沿い市民センターとrtマーティン高校に
['Japanese']